.fbcg > #fbcg {
    position: fixed ;
    inset: 0 ; 
    width: 100vw ;
    height: 100vh ;
    image-rendering: optimizeSpeed ;
    object-fit: cover ;
    z-index: -1;
    opacity: 0.5;
}
.fbcg {
    background: transparent !important;
    --nav-bar-background: transparent !important;
}